<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
    name="description"
    content="{% block description %}cp_description{% endblock description %}"
/>
<meta
    name="author"
    content="{% block author %}cp_author_name <cp_author@email>{% endblock author %}"
/>

<title>{% block title %}cp_project{% endblock title %}</title>
