<div style="display: none; max-height: 0; overflow: hidden">
    {{ preview_text }}
</div>

<div style="display: none; max-height: 0; overflow: hidden">
    {% for _ in range(300) %}#847; &zwnj; &nbsp; &#8199; &#65279; {% endfor %}
</div>
