<p style="font-size: 12px; text-align: center">
    This e-mail contains confidential information and is intended for the named
    recipient(s) only.<br />
    &copy; {{ current_year }}, cp_author_name. All rights reserved.
</p>
